/----------------css reset---------------*/

*{
padding:0;
margin:0;
font-size: 100%;
line-height:1em;
}

/*--------------main style--------------*/
body {
  width:70%;
  max-width:670px;
  margin: auto;
  background: #fafafa;
  color: #333;
}

/*---------------typography--------------*/

h1, h2, h3{
  font-weight: normal;
  color: #815BFF;
  text-align: center;

}
  p, blockquote {margin; 1.5em;
  line-height:1.5;}

h1 {font-size: 3.157em;
margin-top:2em;
margin-bottom: 0.1em;}

h2 {font-size: 2.36em;
margin: 1em;}


h3 {font-size: 1.414em;
margin-bottom: 1.5em;}


blockquote {
  font-size: 1.141em;
  hanging-punctuation: first;
  rext-indent -0.44em;
}

blockquote cite{
font-size: 1em;
color: #333;
}

/*-----------------footer-------------*/
footer{
  text-align: center;
  font-size: 0.707em;
  padding: 2em 0 4em 0;
}


/*-------Nav--------*/
a{
  color: #fafafa;
  text-decoration: none;
}

a:hover {
  color: #79E6FF;
  border-bottom: 1px dotted;
}



nav{
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  background-color: #815BFF;
  padding: 0.5em 0;
}

nav ul{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;

}
nav ul li{
  display: inline;
  margin: 20px;

}

nav a:link{
  color: #fafafa;
}

nav a:hover{
  color: #79E6FF;

}
